TWITTERYAHOO4_01.00.0000.iar/icspackage/project/TWITTERYAHOO4_01.00.0000/resources/application_875/outbound_449/resourcegroup_781/ProxyTwitterYahoo_REQUEST.wadl

<?xml version="1.0" encoding="UTF-8"?><ns0:application xmlns:ns0="http://wadl.dev.java.net/2009/02"><ns0:resources><ns0:resource path="/{ciudad}/{pais}"><ns0:method name="GET"><ns0:request><ns0:param name="ciudad" style="template" xmlns:xsd="http://www.w3.org/2001/XMLSchema" type="xsd:string" required="true"/><ns0:param name="pais" style="template" xmlns:xsd="http://www.w3.org/2001/XMLSchema" type="xsd:string" required="true"/><ns0:representation/></ns0:request><ns0:response status="200"><ns0:representation/></ns0:response></ns0:method></ns0:resource></ns0:resources></ns0:application>
