TWITTERYAHOO4_01.00.0000.iar/icspackage/project/TWITTERYAHOO4_01.00.0000/resources/application_875/outbound_449/resourcegroup_781/ProxyTwitterYahoo_REQUEST.wsdl

<wsdl:definitions targetNamespace="http://xmlns.oracle.com/cloud/adapter/REST/ProxyTwitterYahoo_REQUEST" xmlns:ns0="http://xmlns.oracle.com/cloud/adapter/REST/ProxyTwitterYahoo_REQUEST/types" xmlns:ns1="http://xmlns.oracle.com/cloud/adapter/REST/ProxyTwitterYahoo_REQUEST" xmlns:ns2="http://xmlns.oracle.com/cloud/generic/rest/fault/REST/ProxyTwitterYahoo" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/cloud/generic/rest/fault/REST/ProxyTwitterYahoo" nxsd:version="JSON" nxsd:encoding="UTF-8" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" xmlns="http://xmlns.oracle.com/cloud/generic/rest/fault/REST/ProxyTwitterYahoo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="APIInvocationError">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="type" type="xsd:string"/>
            <xsd:element name="title" type="xsd:string"/>
            <xsd:element name="detail" type="xsd:string"/>
            <xsd:element name="errorCode" type="xsd:string"/>
            <xsd:element name="errorDetails" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="type" type="xsd:string"/>
                  <xsd:element name="instance" type="xsd:string"/>
                  <xsd:element name="title" type="xsd:string"/>
                  <xsd:element name="errorPath" type="xsd:string"/>
                  <xsd:element name="errorCode" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xml.oracle.com/types/REST/ProxyTwitterYahoo_REQUEST" xmlns="http://xml.oracle.com/types/REST/ProxyTwitterYahoo_REQUEST" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://xml.oracle.com/adapters/extension">
      <xs:complexType name="TemplateParameters">
        <xs:annotation>
          <xs:appinfo/>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="ciudad" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="pais" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/cloud/adapter/REST/ProxyTwitterYahoo_REQUEST/types" xmlns="http://xmlns.oracle.com/cloud/adapter/REST/ProxyTwitterYahoo_REQUEST/types" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns3="http://xml.oracle.com/types/REST/ProxyTwitterYahoo_REQUEST" xmlns:tns0="http://xmlns.oracle.com/cloud/adapter/REST/ProxyTwitterYahoo_REQUEST/types">
      <xs:import namespace="http://xml.oracle.com/types/REST/ProxyTwitterYahoo_REQUEST"/>
      <xs:element name="execute" type="tns0:executeType"/>
      <xs:complexType name="executeType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" type="ns3:TemplateParameters" name="TemplateParameters"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="executeResponse" type="tns0:executeResponseType"/>
      <xs:complexType name="executeResponseType">
        <xs:sequence/>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd">
      <xs:element name="ics_tracking_context">
        <xs:annotation>
          <xs:documentation>ICS Tracking Context Schema</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="tracking_property" type="TrackingPropertyType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="TrackingPropertyType">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="executeRequestMessage">
    <wsdl:part name="parameters" element="ns0:execute"/>
  </wsdl:message>
  <wsdl:message name="executeResponseMessage">
    <wsdl:part name="parameters" element="ns0:executeResponse"/>
  </wsdl:message>
  <wsdl:message name="APIInvocationError">
    <wsdl:part name="parameters" element="ns2:APIInvocationError"/>
  </wsdl:message>
  <wsdl:portType name="ProxyTwitterYahoo_REQUESTPortType">
    <wsdl:operation name="execute">
      <cloud:CloudOperation targetOperation="execute" xmlns:cloud="http://xml.oracle.com/types"/>
      <wsdl:input message="ns1:executeRequestMessage"/>
      <wsdl:output message="ns1:executeResponseMessage"/>
      <wsdl:fault name="APIInvocationError" message="ns1:APIInvocationError"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProxyTwitterYahoo_REQUESTPortType-binding" type="ns1:ProxyTwitterYahoo_REQUESTPortType">
    <binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="execute">
      <operation soapAction="http://xmlns.oracle.com/cloud/adapter/REST/ProxyTwitterYahoo_REQUEST/execute"/>
      <wsdl:input>
        <body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <plnk:partnerLinkType name="proxytwitteryahoo_875_outbound_449" xmlns="">
    <plnk:role name="ProxyTwitterYahoo_REQUESTPortType">
      <plnk:portType name="ns1:ProxyTwitterYahoo_REQUESTPortType"/>
    </plnk:role>
  </plnk:partnerLinkType>
</wsdl:definitions>